body{margin:30px auto;width: 300px;}
.ui-scrollbox{width: 300px;height: 200px;overflow: hidden;border: 1px solid #eee;padding: 22px 10px 0 10px;}
.ui-hscrollContent{white-space: nowrap;}

#vscrollbar .ui-scroll,
#vscrollbar .ui-scroll-body,
#vscrollbar .ui-scroll-head,
#vscrollbar .ui-scroll-nail{
	background-image: url(./vscrollbar.png);
	background-position: 0 0;
	width: 15px;
	height: 15px;
}

#vscrollbar .ui-scroll{width: 15px;background-position: 100% 0;}
#vscrollbar .ui-scroll-head{background-position: 0 0;}
#vscrollbar .ui-scroll-nail{background-position: 0 -15px;}
#vscrollbar .ui-scroll-body{border: 1px solid #bcbcbc;background-position: -45px 0;}

#hscrollbar .ui-scroll,
#hscrollbar .ui-scroll-body,
#hscrollbar .ui-scroll-head,
#hscrollbar .ui-scroll-nail{
	background-image: url(./hscrollbar.png);
	background-position: 0 0;
	width: 15px;
	height: 15px;
}

#hscrollbar .ui-scroll{background-position: 0 100%;}
#hscrollbar .ui-scroll-head{background-position: 0 0;}
#hscrollbar .ui-scroll-nail{background-position: -15px 0;}
#hscrollbar .ui-scroll-body{border: 1px solid #bcbcbc;background-position: 0 -45px;}

